<footer class="bg-dark text-white mt-5 pt-4 pb-3">
    <div class="container">
        <div class="row">
            <!-- Thông tin blog -->
            <div class="col-md-4">
                <h5>dinhvanit's Blog</h5>
                <p>Chia sẻ kiến thức, kinh nghiệm lập trình và cuộc sống.</p>
            </div>

            <!-- Các liên kết -->
            <div class="col-md-4">
                <h5>Liên kết nhanh</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Trang chủ</a></li>
                    <li><a href="/posts/create" class="text-white">Đăng bài viết</a></li>
                    <li><a href="/about" class="text-white">Giới thiệu</a></li>
                    <li><a href="/contact" class="text-white">Liên hệ</a></li>
                </ul>
            </div>

            <!-- Đăng ký nhận tin -->
            <div class="col-md-4">
                <h5>Đăng ký nhận bài viết mới</h5>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Nhập email của bạn">
                    </div>
                    <button type="submit" class="btn btn-outline-light btn-block">Đăng ký</button>
                </form>
            </div>
        </div>

        <hr class="bg-secondary">

        <div class="text-center">
            <p class="mb-0">&copy; {{year}} dinhvanit. All rights reserved.</p>
        </div>
    </div>
</footer>
